@font-face {
    font-family: 'VT323';
    src: url('./fonts/VT323-Regular.ttf');
}

body{
    background-image: url(../imagens/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    width: 400px;
    height: 565px;
    border: 2px solid var(--borda-cartao);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--cor-fundo);
}

.cartao .minhas-informacoes img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 4px solid var(--borda-perfil);
}

.cartao .minhas-informacoes{
    padding-top: 15px;
    padding-bottom: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes.escondido{
    display: none;
    transition: all 0.3s ease-in-out;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    text-align: center;
}

.cartao .conteudo{
    margin: 6px;
}

.cartao .conteudo.expandido{
    animation-duration: 0.6s;
    animation-name: slide-up;
}

.cartao .conteudo .informacoes-abas{
    background-color: var(--fundo-info);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.abas img{
    width: 25px;
}

.cartao .abas{
    display: flex;
    min-height: 45px;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;    
}

.cartao .abas .aba.selecionado{
    background-color: var(--fundo-info);
}

.cartao .abas .aba:hover{
    background-color: var(--fundo-aba);
    margin-bottom: 3px;
    padding: 8px 0;
    border-radius: 8px;
}

.informacoes-abas .informacao{
    min-height: 285px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado {
    display: block;
}

.informacoes-abas .sub-titulo {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
    padding: 10px;
    background-color: var(--fundo-aba);
    border-radius: 8px;
}

.informacoes-abas .descricao {
    font-size: 20px;
    max-height: 188px;
    overflow-y: auto;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}
span {
    color: var(--green);
}

.informacao.ativo .sub-titulo{
    margin-bottom: 15px;
}
.box-projeto a img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 2px solid var(--selec-color);
    position: relative;
}

.box-projeto{
    background-color: var(--fundo-aba);
    border: 2px solid var(--borda-cartao);
    border-radius: 8px;
    display: none;
    min-height: 380px;
}

.box-projeto.ativo{
    display: block;
    padding: 5px;
}

.box-projeto .titulo-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 25px;
}

.box-projeto h4{
    font-size: calc(100%);
    color: #f5f3be;
}
.box-projeto a .devicon-github-original{
    color: #f3ba64;
    width: 100%;
}
.box-projeto a .devicon-github-original:hover{
    transform: scale(1.05);
}

.box-projeto .descricao{
    background-color: var(--cor-fundo);
    border-radius: 8px;
    padding: 5px;
    max-height: 92px;
}

.box-projeto .linguagens{
    color: #aab736;
    text-align: end;
    margin-top: 25px;
}

.slider-projetos{
    display: flex;
}

.projetos .navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    width: 100%;
}

.projetos .navegacao .botao-navegacao.desativado{
    background-color: var(--cor-fundo);
}
.projetos .navegacao .botao-navegacao{
    color: #f3f3f3;
    font-size: 20px;
    background-color: var(--fundo-aba);
    border: none;
    width: 25px;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.projetos .navegacao .botao-navegacao:hover{
    transform: scale(1.1);
    background-color: var(--selec-color);
}

.projetos .navegacao .caixas-container{
    display: flex;
    gap: 8px;
}

.caixa{
    display: block;
    background-color: var(--fundo-aba);
    width: 15px;
    height: 15px;
    border: 1px solid #0c0a0a;
    border-radius: 4px;
    transition: 0.3 ease-in-out;
}

.caixa.ativo{
    background-color: var(--selec-color);
}

.caixa:hover{
    background-color: var(--selec-color);
    cursor: pointer;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.redes-sociais li{
    width: 100%;
}

.redes-sociais li a {
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.redes-sociais .curriculo {
    background-color: var(--green-c);
}
.redes-sociais .linkedin {
    background-color: var(--blue-l);
}
.redes-sociais .github {
    background-color: var(--cinza-g);
}
.redes-sociais .whatsapp {
    background-color: var(--green-w);
}
.redes-sociais .gmail {
    background-color: var(--red-g);
}

.redes-sociais li a:hover {
    transform: scale(1.02);
}