/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--borda-cartao) #070d12;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--fundo-aba);
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 20px;
    border: 3px solid #070d12;
  }