:root{
    
    --borda-cartao: #0a0d08d3;
    --borda-perfil: rgb(38, 51, 44);
    
    --green: #06be84;
    --green-c: #06c185;
    --blue-l: #1d87bd;
    --cinza-g: #545454;
    --green-w: #1b9c53;
    --red-g: #da4c4c;

    --fundo-aba: #0a130bd8;
    --cor-fundo: #293932b5; 
    --fundo-info: #09130b96;

    --selec-color: rgb(37, 137, 107);
}

span {
    color: var(--green);
}