:root{
    --fundo-aba: #0a130bd8;
    --borda-cartao: #c5c94ad3;
    --borda-perfil: rgb(206, 229, 241);
    --green: #06be84;
    --green-c: #06c185;
    --blue-l: #1d87bd;
    --cinza-g: #545454;
    --cor-fundo: #293932b5; 
    --fundo-info: #0d291175;
}